<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
	</head>
	<body>
		<h1>CANYONERO</h1>
		<hr>
		<h3>Onboard WebCam Server</h3>
		<img id="fr" src="{{ url_for('video_feed') }}" alt="Onboard Video Stream"></img>
		<hr>
		<h4>@CVH95</h4>
		<p>Date / Time: <span id="date"></span> / <span id="time"></span></p>
		<script>
				var dt = new Date();
				document.getElementById("date").innerHTML = dt.toDateString();		
		</script>
		<script>
			var tt = setInterval(Timers, 1000)
			
			function Timers(){
					var d = new Date();
					var T = d.toLocaleTimeString();
					document.getElementById("time").innerHTML = T;
			}
		</script>
	</body>
</html>
